@use './../../mixins/vars';
div {
    font-size: vars.$small-font-size;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
    word-break: break-word;
}

@media only screen and (max-width: 540px) {
    div {
        top: 10px;
        right: 10px;
        width: 80px;
        padding: 10px;
        margin-left: 15vw;
        padding-top: 15px;
        border: 1px dotted vars.$fg-color;
        background-color: vars.$bg-color;
        &::after {
            content: '☆'
        }

    }
}
