@use './../../mixins/vars';
div {
    font-size: vars.$small-font-size;
    text-align: center;
    position: fixed;
    width: 100vw;
    a {
        text-decoration: none;
        color: unset;
        &:hover {
            font-weight: bold;
        }
        &:visited {
            color: unset;
        }
    }
}

