@use './../../../../mixins/vars';

#container {
    padding: 10px;
    display: flex;
}

#header {
    font-size: 0.875rem;
    margin-bottom: 0;
}

#name, #location {
    font-size: 1rem;
    letter-spacing: vars.$tight-tracking;
}

.from, .says {
    text-transform: uppercase;
    font-size: vars.$tiny-font-size
}

#review {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: vars.$less-tight-tracking;
}

#bullet::after {
    font-family: arial;
    font-size: vars.$large-font-size;
    content: "♪";
    padding-right: vars.$pad;
}