#container {
    padding: 0px 10px;
    border-left: 1px dotted black; 

}

#header {
    font-size: 0.83rem;
}

#name, #location {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -0.3px;
}

#review {
    font-family: Georgia, 'Times New Roman', Times, serif;
}