:host {
}

div {
    width: fit-content;
    position: fixed;
    padding-right: 10px;
    top: 10px;
    right: 10px;
    background-color: whitesmoke;
    color: black;


}

ol {
    list-style: lower-roman;
}