@use 'mixins/vars';

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: vars.$fg-color;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: vars.$bg-color;
    // background: linear-gradient(0deg, rgba(205,240,255,1) 0%, rgba(85,183,255,0.5) 78%, rgba(32,171,255,0.2) 100%);
}