<div id=entry>
    <p>{{song}} entry works!</p>
    <div id="entry-body">
        <div id="media">
            <iframe src="https://www.youtube.com/embed/3TsrJ9kPU3Q" frameborder="0" allowfullscreen></iframe>        </div>
        <div id="people-container">
            <div class="person" *ngFor="let person of personList">
                <p>{{person.name}}</p>
                <p>{{person.location}}</p>
                <p>{{person.description}}</p>
            </div>
        </div>
    </div>
</div>
